<!DOCTYPE html>
<html lang="en-US">
<head>
    {% load static %}
    <meta charset="utf-8">
    <script src="/static/node_modules/angular/angular.js"></script>
    <script src="/static/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/static/js/filesModelDirective.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/images_rest.js"></script>
    
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.css">
    
</head>
<body>
    <div class="container">
        <div class="panel panel-primary">
            
            <div class="panel-heading">
                <h4>Choose an image to upload</h4>
            </div>

            <div class="div-inline">

	    
	    <span style="margin-left:75px;">
            

            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data">
		    {% csrf_token %}
                    {{ form.as_p }}  
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload</button>
                </form>
            </div>
            </div> 
        </div>

	<div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Here are the uploaded images.<h4>
            </div>
		
	   
            
            <div class="row">       
                {% for img in queryset %}  
		<div class="col-sm-3 col-xs-3 col-md-3 col-lg-3" style="display:inline;">
                    <li>
	            <img  src="{{img.img.url}}" class="img-responsive" height="200" width="250" />
                    <a href="{% url 'frontend:delete_Image' img.img_id %}">Delete</a>     
                    </li> 
		</div>
		{% endfor %}  
            </div>	
            		
　　　　　　　　　　　
            		
                        
             
            
           
            <span style="margin-left:1045px;">
            <div class="panel-body">
                <div ng-if="images.length == 0">
                    If you have finished uploading images, click Next to choose measures.
                </div>
                <span style="margin-left:1045px;">
                <div>
                   <button class="btn btn-primary" type="submit" onclick="location.href='/result'"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span> Next</button> 
                </div>
            </div>



            <span style="margin-left:1045px;">
            <div class="panel-body">
                <div ng-if="images.length == 0">
                    If you want to clean the existing images and set a new query set, please click Clean images.
                </div>
                <span style="margin-left:1045px;">
                <div>
                   <button class="btn btn-primary" type="submit" onclick="location.href='/image/clear'"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clean images </button> 
                </div>
            </div>
            <span style="margin-left:1045px;">
        
            <div class="panel-body">
                <div>
                    <button class="btn btn-primary" type="submit" onclick="location.href='/image/logout'"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Logout</button> 
       
                </div>
            </div>

         </div>


           {% if messages %}
               <ul class="messages">
                   {% for message in messages %}
                       <li class="{{ message.tags }}">{{ message }}</li>
                   {% endfor %}
               </ul>
           {% endif %}
    </div>

</body>
<html>
